/*
.color1 { #666666 };
.color2 { #abdb25 };
.color3 { #999999 };
.color4 { #ffffff };
.color5 { #cccccc };
*/

/* Estilos globais */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, sans-serif;
    margin: 0;
    background-color: #abdb25;
  }
    
    html, body {
    height: 100%;
    }
    
    #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    
    .bloco-centralizado {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 50px #999999;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*ocupar todo espaço restante vertical*/
    justify-content: space-between; /*alinhar conteúdo verticalmente*/
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    position: relative;
    width: 80%;
    }
    
    img {
      display: block;
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: auto;
      padding: 20px;
      border-radius: 50px;
      float: left;
      margin-right: 20px;
    }

    /* estilo do conteúdo dentro das seções */
    #sobre-mim h2 {
    float: left;
    margin-bottom: 20px;
    margin: 0;
    }
  
    #hobbies ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    #hobbies li:first-child {
    margin-top: 0px;
    }
     
    .bloco-titulo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      float: right;
    }
    
    .bloco-titulo h1 {
      margin: 0;
    }
    
    #formacao {
      margin-top: 140px;
    }    

    #sobre-mim h2,
    #sobre-mim p {
      float: right; 
      width: calc(100% - 240px); /* defina a largura do título e texto para o espaço restante após a imagem e margem */
    }
    
    /* Estilos do cabeçalho */
    header {
    background-color:  #abdb25;
    /*color: rgb(35, 145, 139);*/
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    header h1 {
    text-align: center;    
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    nav li {
    margin-right: 20px;
    }
    
    nav a {
    color: #ffffff;
    text-decoration: none;
    }
    
    nav a:hover {
    text-decoration: underline;
    }
    
    /* Estilos das seções */
    section {
    padding: 20px;
    }
    
    section h2 {
    margin-top: 0;
    }
    
    ul {
    list-style: disc;
    }
    
    .card {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    }
    
    .card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    }
    
    .card h2 {
    margin-top: 0;
    }
    
    .card p {
    font-size: 18px;
    line-height: 1.5;
    }
    
    /* Estilos do rodapé */
    footer {
    background-color: #abdb25;;
    /*color: #fff;*/ 
    padding: 20px;
    text-align: center;
    margin-top: auto; /*alinhamento do rodapé no final da página*/
    }